body {
    margin: 0;
}
#load_btns {
    padding: 1em;
    background: aliceblue;
    border-bottom: 1px solid #ccc;
}
#wrapper.kc-wp-admin-bar-mgr {
    min-width: 20em;
}

.kc-wp-admin-bar-mgr button {
	width: 14em; 
    padding: 0.4em;
	cursor: pointer;
}

.kc-wp-admin-bar-mgr .remove-link,
.kc-wp-admin-bar-mgr .remove-cpt {
    width: 2em;
    transition: all 300ms ease;
}

.remove-link:hover, .remove-cpt:hover {
    background: #fa3a3a;
}

.kc-wp-admin-bar-mgr hr {
    margin: 1.5em 0;
}

.kc-wp-admin-bar-mgr small {
    display: block;
}

.kc-wp-admin-bar-mgr summary {
    cursor: pointer;
    padding: 0.4rem 0.5rem;
    background: #efefef;
    border: 1px solid;
}
.kc-wp-admin-bar-mgr summary:hover {
    background: #ccc;
}
.kc-wp-admin-bar-mgr summary:focus-visible {
  outline: 3px solid blue;
}
.kc-wp-admin-bar-mgr details {
    background: lightblue;
}
.kc-wp-admin-bar-mgr_options {
    padding: 0.5rem;
}